body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fts/ofertadeempleo.jpg); /* Ruta de la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen para que se mantenga en su lugar mientras se desplaza */
    text-align: left;
    color: white;
    position: relative; /* Establece posición relativa para permitir el posicionamiento del pseudo-elemento */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit; /* Hereda la imagen de fondo del body */
    filter: blur(20px); /* Aplica el efecto de desenfoque */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
}

/* El resto de tus estilos aquí */

